---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import ExperienceItem from "./ExperienceItem.astro"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const EXPERIENCE = [
  {
    date: `${t('month.january')} 2025`,
    title: `${t('experience.itaca.title')}`,
    company: "Itaca Technologies (Remote)",
    description: `${t('experience.itaca.summary')}`,
  },
  {
    date: `${t('month.february')} 2022`,
    title: `${t('experience.iberalbion.title')}`,
    company: "Iberalbión SL (Zaragoza)",
    description: `${t('experience.iberalbion.summary')}`,
  },
  {
    date: `${t('month.march')} 2021`,
    title: `${t('experience.freelancer.title')}`,
    company: "Freelancer (Madrid)",
    description: `${t('experience.freelancer.summary')}`,
  },
  {
    date: `${t('month.october')} 2018`,
    title: "Software Analysts",
    company: "Banco Santander (Madrid)",
    description: `${t('experience.santander.summary')}`,
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
