---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Febrero 2022",
    title: "Desarrollador Senior",
    company: "Iberalbión SL (Zaragoza)",
    description:
      "Encargado de liderar el desarrollo, mantenimiento y mejora de aplicativo web BPM desde cero.",
  },
  {
    date: "Marzo 2021",
    title: "Consultor VBA Macros Avanzado",
    company: "Freelancer (Madrid)",
    description:
      "Responsable de la plataforma, componentes y utilidades para la creación y desarrollo de aplicaciones web. Mejora de un 30% en la entrega de software. Implantación de medidas de integración continua y despliegue con A/B testing en más de 15 equipos.",
  },
  {
    date: "Octubre 2018",
    title: "Software Analysts",
    company: "Banco Santander (Madrid)",
    description:
      "Responsable de estandarizar, automatizar y documentar todo el proceso de despliegue a producción en todo el departamento. Encargado de migración de datos, desarrollo de evolutivos, resolución de incidencias y mentorizar nuevas incorporaciones.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
