---
const personalImageAlt = "Alejandro Del Medico"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitHub from "./icons/GitHub.astro"
import { getLangFromUrl, useTranslations } from "@/i18n/utils"

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/aledelme.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/alejandrodelmedico"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>{t('hero.status')}</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
  {t('hero.name')}
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    {t('hero.years')}
    <strong>{t('hero.title')}</strong>
    {t('hero.summary')}
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:alejandrodelmedico@gmail.com">
      <MailIcon class="size-4" />
      {t('hero.callme')}
    </SocialPill>
    <SocialPill href="https://linkedin.com/in/alejandrodelmedico">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill href="https://github.com/aledelme">
      <GitHub class="size-4" />
      GitHub
    </SocialPill>
  </nav>
</div>
